.signIn {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto 60rem;
    border: 1px solid black;

    .wrap {
        padding: 2rem;

        h2 {
            font-size: 22px;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
}