.btn {
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    padding: 1rem 0;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
}