.directory {
  height: 80vh;
  max-width: 1440px !important;

  .fashionContainer {
    height: 100%;
    background: green;

    .menWear {
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      button {
        position: absolute;
        z-index: 20;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }

    .womenWear {
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      button {
        position: absolute;
        z-index: 20;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }
}
