.header {
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

    .wrap {
        position: relative;
        max-width: 2450px;
        margin: 0 auto;
        height: 100%;

        .logo {
            height: 100%;
            position: absolute;
            width: 13.0rem;
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
}